
/* Box-sizing para controle mais preciso de largura */
* {
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 0;
}

/* Barra superior */
.top-bar {
    background: #154926;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    width: 100%;
    position: relative;
    margin-top: -10px;
}
.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #154926;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}



.container {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    gap: 20px;
}

.book-left {
    width: 35%;
    text-align: center;
}

.book-left img {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
}

/* Sinopse */
.synopsis {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.synopsis h3 {
    font-size: 18px;
    color: #154926;
    margin-bottom: 5px;
}
